#app data-tsv-path="${data.path_to_asset('digest', 'data/group-tokens.tsv')}"
  .search
    input name="q" id="q" autocomplete="off" type="text" placeholder="Type a word…"
    .autocomplete.input-empty
    .result
      <!-- only the last element will be visible -->
      .loading - Loading…
      label.empty for="q"
        span.all - Pick a word, any word
        span.only-desktop - , or click a bird
      <!-- .hit - <svg>..... -->
