nav
  .nav-logo
    a.only-desktop href="//www.huffingtonpost.com"
      img alt="The Huffington Post" class="logo-desktop" src="${data.path_to_asset('digest', 'images/hplogo-white.svg')}" width="265" height="16"
    a.only-mobile href="//www.huffingtonpost.com"
      img alt="" class="logo logo-mobile" src="${data.path_to_asset('digest', 'images/hplogo-white-short.svg')}" width="148" height="93" 
  .share-buttons
    button.facebook-share - Share on Facebook
    button.twitter-share - Share on Twitter
