<!DOCTYPE html>

html lang="en"
  head
    meta charset="utf-8"
    title - TK
    meta name="viewport" content="width=device-width, initial-scale=1"
    link rel="stylesheet" href="${data.path_to_asset('scss', 'stylesheets/index.css')}"
    $!{data.render_template('_social-meta', data)}
  body
    $!{data.helpers.nav()}

    <article>
      <p>Search here, and see what comes up!</p>
      <div id="app" data-tsv-path="${data.path_to_asset('digest', 'data/clinton-trump-token-counts-truncated.tsv')}"></div>

      <h2>What's this?</h2>

      <p>Here's how we made this tool:</p>

      <ol>
        <li>We downloaded all follower information for Trump and Clinton.</li>
        <li>We broke down each Twitter bio into words.</li>
        <li>For each word, we counted how many Twitter bios contained that word.</li>
        <li>We omitted all words that fewer than 50 Trump and/or Clinton followers used in their bios.</li>
      </ol>
    </article>

    $!{data.helpers.footer()}
    script src="${data.path_to_asset('digest', 'javascripts/app.js')}"
    script src="${data.path_to_asset('digest', 'javascripts/social.js')}"
    script src="${data.path_to_asset('digest', 'javascripts/stats.js')}"
