<!DOCTYPE html>

html lang="en"
  head
    meta charset="utf-8"
    title - TK
    meta name="viewport" content="width=device-width, initial-scale=1"

    meta name="description" content="TK"

    meta name="twitter:card" content="summary_large_image"
    meta name="twitter:creator" content="@HuffPostData"
    meta name="twitter:site" content="@huffpostdata"
    meta name="twitter:image" content="${data.path_to('share-png', data.model.token)}"
  body
    script
      ---
      (function() {
        function fallbackRedirect() {
          window.location = '${data.path_to('index')}#${encodeURIComponent(data.model.token)}';
        }

        function replacePage(newDocument) {
          document.head.innerHTML = newDocument.head.innerHTML;
          document.body.innerHTML = newDocument.body.innerHTML;
        }

        function requestAndReplacePage() {
          var xhr = new XMLHttpRequest();
          xhr.open('GET', '${data.path_to('index')}');
          xhr.timeout = 10000;
          xhr.responseType = 'document';
          xhr.ontimeout = fallbackRedirect;
          xhr.onload = function() {
            if (xhr.status === 200 || xhr.status === 304) {
              replacePage(xhr.response);
            } else {
              fallbackRedirect();
            }
          };
          xhr.send(null);
        }

        document.addEventListener('DOMContentLoaded', requestAndReplacePage);
      }());
      ---
