div#app {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: -webkit-flex;
  display: flex;

  input {
    font-size: 2rem;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
  }

  .autocomplete {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      padding: 0;
    }

    a {
      display: block;
      display: -webkit-flex;
      display: flex;
      height: 1rem;
      line-height: 1rem;
      padding: .5rem 1rem;
      text-decoration: none;
      color: inherit;

      &:hover {
        background: $highlight-background;
      }
    }

    span.token {
      display: block;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      color: $muted-color;
    }

    span.n {
      display: block;
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
      font-size: .75rem;
      color: $muted-color;
    }

    mark {
      background: transparent;
      color: $color;
    }

    svg {
      display: block;
      height: 2rem;
      margin-top: -.5rem;
      width: 4rem;
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;

      circle.clinton { fill: $color-democrat; }
      circle.trump { fill: $color-republican; }
      path.both { fill: $color-both; }
    }
  }
}

body {
  overflow-y: scroll; // So when we populate the table, it doesn't add a scrollbar
}
