div#app {
  @include page-width();

  margin-top: 5rem;
  margin-bottom: 5rem;
  display: -webkit-flex;
  display: flex;
  position: relative;

  .search {
    width: 100%;
  }

  input {
    display: block;
    font-size: 2rem;
    padding: 1rem;
    margin: 0;
    border: 2px solid $muted-color;
    box-sizing: border-box;
    height: 4rem;
    width: 100%;
  }

  .autocomplete {
    position: absolute;
    top: 4rem;
    margin-top: -1px;
    width: 100%;
    border: 1px solid $very-muted-color;
    box-sizing: border-box;
    z-index: 1;
    background: $background;

    &.no-results {
      color: $muted-color;
      cursor: default;
      padding: .5rem 1rem;
    }

    &.input-empty {
      display: none;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      padding: 0;

      &.hover {
        background: $highlight-background;
      }
    }

    a {
      display: block;
      display: -webkit-flex;
      display: flex;
      height: 1rem;
      line-height: 1rem;
      padding: .5rem 1rem;
      text-decoration: none;
      color: inherit;
    }

    span.token {
      display: block;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      color: $muted-color;
    }

    span.n {
      display: block;
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
      font-size: .75rem;
      color: $muted-color;
    }

    mark {
      background: transparent;
      color: $color;
    }

    svg {
      display: block;
      height: 2rem;
      margin-top: -.5rem;
      width: 4rem;
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
    }
  }

  .result {
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      position: relative;
      padding-bottom: 61.8%; // golden ratio
    }

    &>* {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $background;
    }

    .empty, .loading {
      text-align: center;
      padding-top: (61.8% / 2);
      margin-top: -.5rem;
      line-height: 1rem;
      color: $muted-color;
    }
  }

  svg {
    circle.clinton { fill: $color-democrat; }
    circle.trump { fill: $color-republican; }
    path.both { fill: $color-both; }
  }
}

body {
  overflow-y: scroll; // So when we populate the table, it doesn't add a scrollbar
}
