body[data-search-term] {
  // When we load from share-page, the stylesheet is inserted after the page
  // finishes loading ... which means styles are applied asynchronously. By
  // the time this rule applies, the stylesheet has been loaded.
  opacity: 1 !important;
}

div#app {
  @include page-width();

  margin-top: 5rem;
  display: -webkit-flex;
  display: flex;
  position: relative;

  .search {
    width: 100%;
  }

  input {
    display: block;
    font-size: 2rem;
    padding: 1rem;
    margin: 0;
    border: 2px solid $muted-color;
    box-sizing: border-box;
    height: 4rem;
    width: 100%;
  }

  .autocomplete {
    position: absolute;
    top: 4rem;
    margin-top: -1px;
    width: 100%;
    border: 1px solid $very-muted-color;
    box-sizing: border-box;
    z-index: 1;
    background: $background;

    &.no-results {
      color: $muted-color;
      cursor: default;
      height: 2rem;
      line-height: 1rem;
      padding: .5rem 1rem;
    }

    &.input-empty {
      display: none;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      padding: 0;

      &.hover {
        background: $highlight-background;
      }
    }

    a {
      display: block;
      display: -webkit-flex;
      display: flex;
      height: 1rem;
      line-height: 1rem;
      padding: .5rem 1rem;
      text-decoration: none;
      color: inherit;
    }

    span.token {
      display: block;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      color: $muted-color;
    }

    span.n {
      display: block;
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
      font-size: .75rem;
      color: $muted-color;
    }

    mark {
      background: transparent;
      color: $color;
    }

    svg {
      display: block;
      height: 2rem;
      margin-top: -.5rem;
      width: 4rem;
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
    }
  }

  .result {
    position: relative;
    overflow: hidden;

    $variants-height: 2.5rem;
    $strong-height: 2.5rem;
    $h3-height: 2.5rem; // does not include $strong-height
    $h3-lines-height: 1rem;
    $both-height: 3rem;

    // Use a hand-wavy number here. Each candidate needs 6rem of space for a
    // label, but if we put 6rem here we'll have no space on iOS. We take
    // advantage of the fact that the SVG never extends all the way to its
    // left and right bounds.
    //
    // (If we had to do it all over, maybe we'd make the SVG a different
    // aspect ratio. But I'm not convinced the math would be simpler.)
    //
    // Test this at 320px on:
    // * an all-Clinton word ("#HillYes")
    // * an all-Trump word ("#MAGA")
    // * a word with near-equal r and small overlap ("grandma's")
    $svg-margin: 4.5rem;

    &::before {
      // maintain a consistent aspect ratio
      content: '';
      display: block;
      position: relative;
      padding-bottom: 50%; // SVG is 2:1
      padding-top: $variants-height + $strong-height + $h3-height + $h3-lines-height + $both-height - $svg-margin;
    }

    label, .hit {
      position: absolute;
      background-color: $background;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-left: $svg-margin solid $background;
      border-right: $svg-margin solid $background;
      background: $background;
    }

    .variants {
      margin-left: -$svg-margin;
      margin-right: -$svg-margin;
      color: $muted-color;
      font-size: .85rem;
      // Biggest one (I think): "RT does not = endorsement"
      line-height: 1.25rem; // max 2 lines => 2.5rem
    }

    figure {
      position: absolute;
      margin: 0;
      left: 0;
      right: 0;
      top: $variants-height + $strong-height + $h3-height + $h3-lines-height;

      svg {
        // the SVG will set the height of the <figure>
        display: block;
      }

      h3 {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
        position: absolute;
        text-align: center;
        top: -$strong-height - $h3-height - $h3-lines-height - .5rem;
        box-sizing: border-box;
        height: $strong-height + $h3-height + $h3-lines-height + .5rem;
        padding-bottom: .5rem;
        margin: 0 -6rem;
        font-family: $body-font-family;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.25;

        // Lines are ::before and ::after
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          height: $h3-lines-height / 2;
          left: 6rem;
          right: 6rem;
          border: 1px solid $very-muted-color;
          border-bottom: 0;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: $h3-lines-height / 2;
          height: $h3-lines-height / 2;
          left: 50%;
          width: 0;
          margin-left: -.5px;
          border-left: 1px solid $very-muted-color;
        }

        strong {
          display: block;
          font-family: $header-font-family;
          font-weight: bold;
          font-size: 2rem;
          line-height: $strong-height;
        }

        q {
          font-weight: bold;
        }
      }

      div {
        position: absolute;
        font-size: 1rem;
        line-height: 1.33333333;
        font-weight: bold;

        em {
          display: block;
          font-weight: normal;
        }

        &.only-clinton {
          top: 50%;
          margin-top: -2rem;
          width: 5.5rem;
          padding-right: .5rem;
          color: $color-democrat;
          text-align: right;
        }

        &.only-trump {
          top: 50%;
          margin-top: -2rem;
          width: 5.5rem;
          padding-left: .5rem;
          color: $color-republican;
          text-align: left;
        }

        &.both {
          bottom: -3rem;
          color: $color-both;
          text-align: center;

          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: column;
          flex-direction: column;
          -webkit-justify-content: flex-end;
          justify-content: flex-end;
          -webkit-align-items: center;
          align-items: center;

          em, span { display: block; }

          &::before {
            content: '';
            width: 1px;
            margin: 2px 0 2px -.5px;
            background: $color-both;
            display: block;
            -webkit-flex: 1 1 auto;
            border: 1px solid $background;
          }
        }
      }
    }

    .empty, .loading {
      text-align: center;
      padding-top: (61.8% / 2);
      margin-top: -.5rem;
      line-height: 1rem;
      color: $muted-color;
    }

    .variants {
      ul {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        display: inline;

        &:not(:first-child)::before {
          content: ', ';
        }

        &:last-child:not(:first-child)::before {
          content: ' and ';
        }

        span.n {
          display: none;
        }
      }

      q {
        &::before, &::after { content: none; }
        font-style: italic;
      }
    }
  }
}

body {
  overflow-y: scroll; // So when we populate the table, it doesn't add a scrollbar
}
