header {
  h1 { display: none; } // it's just for SEO

  h2 {
    font-family: $header-font-family;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5;
    padding-top: 1rem;
    z-index: 1;

    @media (min-width: $min-desktop-width) {
      position: absolute;
      top: 28rem;
      padding-top: 0;
      width: $page-width / 2;
      left: 50%;
      margin-left: -$page-width / 4;
    }
  }

  .authors {
    padding-top: 1rem;
    font-size: .85rem;
    text-align: center;
    color: $color;

    @media (min-width: $min-desktop-width) {
      position: absolute;
      top: 38.5rem;
      padding-top: 0;
      left: 0;
      width: 100%;

      a {
        color: $color;
      }
    }
  }

  figure {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden; // the <canvas> will overflow

    &::before {
      content: '';
      display: block;
      height: 0;
      padding-bottom: (100% * 534 / 750);
      background-color: #72c4ff;
      background-image: asset-url('digest', 'images/header-mobile.jpg');
      background-size: 100%;
      background-repeat: no-repeat;
    }

    @media (min-width: $min-desktop-width) {
      &::before {
        padding-bottom: 40rem;
        background-image: asset-url('digest', 'images/header-desktop.jpg');
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: auto 100%;
      }
    }
  }

  canvas {
    position: absolute;
    bottom: 0;
    left: 50%; // marginLeft be set in CSS
    width: auto;
    height: 100% * (1032 / 1050);
    opacity: .3;

    &.highlight {
      cursor: pointer;
    }
  }
}
