header {
  h1 { display: none; } // it's just for SEO

  figure {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden; // the <canvas> will overflow

    &::before {
      content: '';
      display: block;
      height: 0;
      padding-bottom: (100% * 534 / 750);
      background-color: #72c4ff;
      background-image: asset-url('digest', 'images/header-mobile.jpg');
      background-size: 100%;
      background-repeat: no-repeat;
    }

    @media (min-width: $min-desktop-width) {
      &::before {
        padding-bottom: 40rem;
        background-image: asset-url('digest', 'images/header-desktop.jpg');
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: auto 100%;
      }
    }
  }

  canvas {
    position: absolute;
    bottom: 0;
    left: 50%; // marginLeft be set in CSS
    width: auto;
    height: 100% * (1032 / 1050);
    opacity: .3;

    &.highlight {
      cursor: pointer;
    }
  }
}
