body.methodology {
  .venn-container-outer {
    margin-top: $h3-height + $strong-height + $h3-lines-height;
    margin-bottom: $both-height;
    position: relative;
  }

  h1 {
    padding-top: 4rem;
  }
}
