body.methodology {
  .venn-container-outer {
    margin-top: 3rem + $h3-height + $strong-height + $h3-lines-height;
    margin-bottom: $both-height;
    position: relative;
    border-left: 6rem solid $background;
    border-right: 6rem solid $background;
  }

  h1 {
    padding-top: 4rem;
  }
}
