nav {
  // Inline with the header
  width: 100%;
  box-sizing: border-box;
  height: 3rem;
  z-index: 1;
  padding: .5rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content:  space-between;
  justify-content:  space-between;
  background: $color;

  @media (min-width: $min-desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
  }

  a.home {
    $aspect-ratio-wide: 329/20;
    $aspect-ratio-narrow: 92.834/12.764;

    display: inline-block;
    font-size: 0; // We show image, not text
    line-height: 0; // Also because we show image, not text
    padding: .25rem 0 .25rem .15rem; // padding on the left because the image isn't flush
    height: 1.4rem;
    width: $aspect-ratio-narrow * 1.4rem;
    background-image: asset-url('digest', 'images/hp-logo-narrow.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;

    @media (min-width: $min-desktop-width) {
      width: $aspect-ratio-wide * 1.4rem;
      background-image: asset-url('digest', 'images/hp-logo-wide.svg');
    }
  }

  .share-buttons {
    padding-top: .1rem;
    line-height: 1.7rem;
    button {
      background: transparent;
      margin-left: .5rem;
    }
  }
}
