nav {
  background: $nav-background;
  color: $nav-color;
  font-family: $nav-font-family;
  padding: .5rem;
  height: 2rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content:  space-between;
  justify-content:  space-between;

  a.home {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: 0; // We show image, not text
    line-height: 0; // Also because we show image, not text
    background: asset-url('digest', 'images/hplogo.svg');
    background-size: 100%;
  }

  .share-buttons {
    padding-top: .1rem;
    line-height: 1.7rem;
    button {
      background: #181818;
      margin-left: .5rem;
    }
  }
}
