.term-table {
  $venn-width: 6rem;

  font-size: .85rem;

  max-width: 30rem;
  h3 {
    font-family: $header-font-family;
    font-size: 1.25rem;
    text-align: center;
  }

  &.no-clinton .list.clinton { display: none; }
  &.no-trump .list.trump { display: none; }

  &.has-clinton.has-trump {
    .list.clinton {
      border-right: 1px solid $muted-color;
      // No need for margin-right: the SVG has a negative margin-left
    }
    .list.trump {
      margin-left: 1rem;
    }
  }

  strong.clinton { color: $color-democrat; }
  strong.trump { color: $color-republican; }

  .scale {
    padding-top: 1rem;
    font-style: italic;

    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    .unit {
      display: inline-block;
      width: 5rem; // helps with centering
      padding-right: 1rem;
      text-align: right;
    }

    svg {
      width: $venn-width;
      height: $venn-width / 2;
    }

    circle {
      stroke: $color;
      stroke-width: .5px;
      fill: none;
    }

    line {
      stroke: $muted-color;
      stroke-width: .5px;
    }

    .ticks {
      margin-left: .25rem;
      width: 3rem;
      height: $venn-width / 2;
      position: relative;
      line-height: 1;

      .max, .quarter { position: absolute; left: 0; }

      .max { top: -.425rem; }

      .quarter { top: $venn-width / 4 - .425rem; }
    }
  }

  .lists {
    padding-top: 1.25rem;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .list {
    box-sizing: border-box;
    max-width: 15rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
  }

  kbd {
    display: block;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    background: none;
    line-height: 1.5rem;
    font-family: inherit;
  }

  .list svg {
    display: block;
    width: $venn-width;
    height: $venn-width / 2;
  }
  .list.clinton svg { margin-right: -1rem; }
  .list.trump svg { margin-left: -1rem; }

  .tooltip {
    display: none;
    position: absolute;
    right: $venn-width / 2;
    width: 0;
    top: -1.5rem;
    height: 1.25rem;
    line-height: 1rem;
    background: white;
    font-size: .8rem;

    .inner {
      position: relative;
      width: 7rem; // 99,999 vs 99,999
      margin-left: -3.5rem;
      height: 1.25rem;
      border: 1px solid $muted-color;
      background: $background;
      text-align: center;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;

      &::before {
        content: '';
        position: absolute;
        bottom: -.375rem;
        left: 50%;
        margin-left: -.375rem;
        display: inline-block;
        width: .75rem;
        height: .75rem;
        box-sizing: border-box;
        transform: rotate(-45deg);
        border: 1px solid $muted-color;
        border-top-color: $background;
        border-right-color: $background;
        background: $background;
      }

      strong {
        font-weight: normal;
      }

      span.vs {
        font-style: italic;
        padding: 0 .25rem;
      }

      &>* {
        position: relative; // above ::before
      }
    }
  }

  li:hover .tooltip {
    display: block;
  }
}

.term-table + p {
  margin-top: 1.5rem;
}
